.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
    justify-content: space-between;
}
.product_slider_content .slick-slide{
}
.product_slider_content .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 5;
    font-size: 0;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}
.product_slider_content .slick-arrow.slick-prev {
    left: 15px;
    background: url("../img/015.svg") center no-repeat;
}
.product_slider_content .slick-arrow.slick-next {
    right: 15px;
    background: url("../img/014.svg") center no-repeat;
}

.product_slider_content .slick-dots{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_slider_content .slick-dots li{
    list-style: none;
    margin: 0px 10px;
}
.product_slider_content .slick-dots li button{
    font-size: 0;
    width: 8px;
    height: 8px;
    border: 2px solid #FC361D;
    border-radius: 50%;
    background-color: transparent;
}
.product_slider_content .slick-dots li.slick-active button{
    background: #FC361D;
    width: 10px;
    height: 10px;
}

.product_slider_content {
    position: relative;
}
.product_slider_item {
    padding: 30px 70px 60px 70px;
    text-align: center;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
    }

    @media only screen and (max-width:600px) {
        padding: 20px 20px 40px 20px;
    }
}

